
   <%- include('./partials/head.ejs')%> 

      <div class = "create-blog content">
       <form action=""></form>
        <label for="title">Blog title:</label>
        <input type="text" name="" id="title" required><br>
        <label for="snippet">Snippet</label>
        <input type="text" name="" id="snippet" required> <br>
        <label for="body">Body</label>
        <textarea id="body" required></textarea><br>
        <button>Submit</button>
      </div>

   <%- include('./partials/footer.ejs')%> 